services:
  archillx:
    environment:
      UVICORN_WORKERS: 2
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 1G
        reservations:
          cpus: '0.50'
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "20m"
        max-file: "5"
  nginx:
    ports:
      - "443:443"
    volumes:
      - ./deploy/nginx/archillx.tls.conf:/etc/nginx/conf.d/default.conf:ro
      - ./deploy/certs:/etc/nginx/certs:ro
    logging:
      driver: json-file
      options:
        max-size: "20m"
        max-file: "5"
  mysql:
    logging:
      driver: json-file
      options:
        max-size: "20m"
        max-file: "5"
